<ion-menu contentId="main-content" >
  <ion-header >
    <ion-toolbar >
      <ion-title></ion-title>

      <div class="perfil">
        <div class="icon-perfil">
      </div>

      <ion-item color="none" lines="none">
        <h1>
          <ion-label color="light">Gabriel Santos</ion-label>
        </h1>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label color="light">User #0987654321</ion-label>
      </ion-item>

      </div>

    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">


    <ion-item color="none" lines="danger" >
    <ion-icon slot="" name="settings-outline" color="light"></ion-icon>
        <ion-button expand="block" fill="clear" color="light">
          <ion-label>Configurações</ion-label>
        </ion-button>
      <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>

    <ion-item color="none">
      <ion-icon name="person-sharp" color="light"></ion-icon>
        <ion-button expand="full" fill="clear" color="light">
          <ion-label>Conta</ion-label>
        </ion-button>
      <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>

    <ion-item color="none" >
      <ion-icon name="home-sharp" color="light"></ion-icon>
        <ion-button expand="full" fill="clear" color="light">
          <ion-label [routerLink]="['/home']">Inicio</ion-label>
        </ion-button>
      <ion-icon [routerLink]="['/home']" slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>

    <ion-item color="none">
      <ion-icon name="bus-sharp" color="light"></ion-icon>
        <ion-button expand="full" fill="clear" color="light">
          <ion-label [routerLink]="['/search']">Rotas</ion-label>
        </ion-button>
      <ion-icon [routerLink]="['/search']" slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>

    <ion-item color="none">
      <ion-icon name="calendar-clear-sharp" color="light"></ion-icon>
        <ion-button expand="full" fill="clear" color="light">
          <ion-label>Minhas viagens</ion-label>
        </ion-button>
      <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>

    <ion-item color="none" >
      <ion-icon name="log-out-sharp" color="light"></ion-icon>
        <ion-button expand="full" fill="clear" color="light">
          <ion-label (click)="sair()">Sair</ion-label>
        </ion-button>
      <ion-icon slot="end" name="chevron-forward-outline" color="light"></ion-icon>
    </ion-item>
  </ion-content>

</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar  >
      <ion-buttons slot="start" *ngIf="showButtons">
        <ion-menu-button ></ion-menu-button >
      </ion-buttons>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
</div>
