ion-button{
    width: 50px;
    height: 50px;
    padding: auto;
    margin: auto;
    text-align: center;
}

ion-cow{
    padding: auto;
    margin: auto;
    text-align: center;
}
ion-label{
    padding: auto;
    margin: auto;
    text-align: center;

}

.assetos{
    border: 2px solid black;
    border-radius: 25px;
  


}

img{
    width: 85px;
    height: 85px;
    background-size: cover;
    border-radius: 50px;


}