<ion-content class="login-content">

  <div class="logo"></div>



  <div class="form">

    <h1>Acesse <br>a sua conta</h1>
      <ion-item color="none" lines="none">
        <ion-label color="light">Email</ion-label>
        <ion-input color="light" placeholder="Enter text" [(ngModel)]="user.email" ></ion-input>
      </ion-item>

      <ion-item color="none" lines="none">
        <ion-label color="light"  >Senha</ion-label>
        <ion-input color="light" placeholder="Enter text" type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>

      <p class="esqueceu-senha" color="light" slot="end">Esqueceu sua senha?</p>

      <ion-button expand="full">
        <ion-label color="light" (click)="entrar()">Entrar</ion-label>
      </ion-button>

      <div class="text">

        <label> Ainda não possui uma conta?<label [routerLink]="['/cadastro']">Crie agora</label></label>

      </div>
  </div>
</ion-content>
