ion-content{
  --background: #fff;
  width: 100vw;
  height: 100vh;

  .logo{

    margin: auto;
    margin-top: 34px;
    margin-bottom: 50px;
    width: 200px;
    height: 54px;
    background-image: url('/assets/logo.png');
    background-size: cover;
  }
  .form{

    margin: auto;
    width: 280px;
    height: 233px;
    left: 55px;
    top: 277px;

    h1{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }

    ion-item{
      border: 1px solid #A9A9A9;
      border-radius: 5px ;
      margin-top: 24px;

      ion-label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #A9A9A9;
      }
      ion-input{
        
        color: #A9A9A9;

      }
    }

    .esqueceu-senha{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      text-align: end;
      color: #000000;
      margin-left: 20%;
      margin-top: 24px;
      margin-bottom: 32px;
    }

    ion-button{
      --background: #50C2C9;
      margin-bottom: 55px;

      ion-label{
  
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        
      }
    }

    .text{
     margin-left: 5%;
     margin-right: 5%;
      label{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        margin: auto; 
        color: #A9A9A9;
        label{
          color:#50C2C9;
        }
      }
    }

  }
}
