<ion-content class="login-content">

  <div class="logo"></div>



  <div class="form">

    <h1>Acesse <br>a sua conta</h1>
      <ion-item>
        <ion-input label="Email" labelPlacement="floating" placeholder="email@exemple.com" type="email" [(ngModel)]="user.email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Senha" labelPlacement="floating" placeholder="*******" type="password" [(ngModel)]="user.password" ></ion-input>
      </ion-item>
      <p class="esqueceu-senha" color="light" slot="end">Esqueceu sua senha?</p>

      <ion-button expand="full" (click)="entrar()">
        <ion-label color="light" >Entrar</ion-label>
      </ion-button>

      <div class="text">

        <label> Ainda não possui uma conta?<label [routerLink]="['/cadastro']">Crie agora</label></label>

      </div>
  </div>
</ion-content>
