ion-app{
   
    ion-router-outlet{
        height: 95vh;
        width: 100vw;
        margin: auto;
        margin-bottom: 0px;
        /* overflow: scroll; */
    }
}

app-footer{
    margin-top: auto;
}