.back{
    background:#acc2f9;
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow:scroll;
    .form{
        
        display: block;
        margin: auto;
        margin-top: 10vw;
        width: 675px;
        height: 900px;
        background-color: #fff;
        border-radius: 10px;
        padding: 50px;

         .box{
            margin: auto;
            border: #000 2px solid;
            border-radius: 10px;
            font-size: 36px;
            margin-top: 3vh;
        }
        button{
            margin-top: 5vh;
            font-size: 26px;
            color: #000;
            background:#FAFF00;
            width: 535px;
            height: 91px;
            border-radius: 10px;
        }
    }
}