ion-content{
    overflow: scroll;
    ion-label{
        --color:#A9A9A9;
        
    }
  .form{
    margin: auto;
    position: relative;
    width: 308px;
    height: 309px;
    

    ion-datetime{
        background: #fff;
    }

    .open-modal{ 
        padding: 18px;
    }

    ion-button{
        margin-top: 30px;
        margin-bottom: 30px;
        --background: #50C2C9;
    }

    .bnt{
        border: 1.5px solid #A9A9A9;
        border-radius: 20px;
        color: #000;
        background: #fff;
       .text{
        margin: auto;
       }
    }
} 
ion-card{
   
}
}