<ion-content>
  <div class="form">
    <ion-item >
      <ion-label position="floating">Origem</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item > 
      <ion-label position="floating">Destino</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>


    
    <ion-item id="open-modal" class="open-modal">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formattedString}}</ion-text>
    </ion-item>

    <ion-item id="open-modal" class="open-modal">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formattedString}}</ion-text>
    </ion-item>

    <ion-modal trigger="open-modal">
      <ng-template>
        <ion-content>
          <ion-datetime 
            #datetime
            [value]="dateValue" size="cover"
            (ionChange)="dateChanged(datetime.value)"
            showDefaultButtons=""></ion-datetime>
          </ion-content>
        </ng-template>
      </ion-modal>
      
      <ion-button expand="full">Pesquisar</ion-button>


      <ion-item class="bnt" lines="none">
        <label size="cover" class="text">
          Estadual
        </label>
        
        <label size="cover" class="text">
          Municipal
        </label>
      </ion-item>
      
    
      <div class="list">
        
        <ion-img style="background-image: url(assets/saopaulo.jpg);"></ion-img>
        <ion-label slot="end">sadiufgdsafsas</ion-label>
  
      </div>
    
    </div>
  
</ion-content>
