<ion-content>
  <div class="form">


      <ion-searchbar [(ngModel)]="origem" (ionChange)="digitando(origem, this.destino)" autocorrect="on" search-icon="undefined" show-cancel-button="never" placeholder="Destino" ></ion-searchbar>
      <ion-list>
        <ion-item *ngIf="sugestoes.length > 0" >
          <ion-label (click)="this.origem = sugestoes[0].origem"> {{ sugestoes[0].origem }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-searchbar [(ngModel)]="destino" (ionChange)="digitando(this.origem, destino)" autocorrect="on" search-icon="undefined" show-cancel-button="never" placeholder="Origem" ></ion-searchbar>

      <ion-list>
        <ion-item *ngIf="sugestoes.length > 0">
          <ion-label (click)="this.destino = sugestoes[0].destino"> {{ sugestoes[0].destino }}</ion-label>
        </ion-item>
      </ion-list>



    <ion-item id="open-custom-dialog" class="open-modal">
      <ion-label>Data de Ida</ion-label>
      <ion-text slot="end">{{formattedString}}</ion-text>
    </ion-item>

    <ion-item id="open-custom-dialog2" class="open-modal">
      <ion-label>Data de volta</ion-label>
      <ion-text slot="end">{{formattedString2}}</ion-text>
    </ion-item>


  <ion-modal id="datetime" #modal trigger="open-custom-dialog">
    <ng-template>
      <ion-datetime
      #datetime
      [value]="dateValue" size="cover"
      (ionChange)="dateChanged(datetime.value)"
      showDefaultButtons="">
      </ion-datetime>
    </ng-template>
  </ion-modal>

  <ion-modal id="datetime" #modal trigger="open-custom-dialog2">
    <ng-template>
      <ion-datetime
      #datetime2
      [value]="dateValue2" size="cover"
      (ionChange)="dateChanged2(datetime2.value)"
      showDefaultButtons="">
      </ion-datetime>
    </ng-template>
  </ion-modal>

      <ion-button expand="full" (click)="pesquisar(origem, destino, formattedString, formattedString)">Pesquisar</ion-button>

      <h3>Promoções</h3>

      <ion-card *ngFor="let promocoes of promocao | async">
        <img alt="Silhouette of mountains" src="{{promocoes.img}}" />
        <ion-card-header>
          <ion-card-title>{{promocoes.cidade}}</ion-card-title>
          <ion-card-subtitle>Preço: R$ {{promocoes.preco}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{promocoes.descricao}}
        </ion-card-content>
      </ion-card>



    </div>

</ion-content>
