<ion-content>
  <div class="form">
    <ion-item >
      <ion-label position="floating">Origem</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item >
      <ion-label position="floating">Destino</ion-label>
      <ion-input placeholder="Enter text"></ion-input>
    </ion-item>



    <ion-item id="open-custom-dialog" class="open-modal">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formattedString}}</ion-text>
    </ion-item>

    <ion-item id="open-custom-dialog" class="open-modal">
      <ion-label>Date</ion-label>
      <ion-text slot="end">{{formattedString2}}</ion-text>
    </ion-item>


  <ion-modal id="datetime" #modal trigger="open-custom-dialog">
    <ng-template>
      <ion-datetime
      [value]="dateValue" size="cover"
      (ionChange)="dateChanged(datetime.value)"
      showDefaultButtons="">

      </ion-datetime>
    </ng-template>
  </ion-modal>

      <ion-button expand="full">Pesquisar</ion-button>

<!--
      <ion-item class="bnt" lines="none">
        <label size="cover" class="text">
          Estadual
        </label>

        <label size="cover" class="text">
          Municipal
        </label>
      </ion-item>
 -->

  <!-- <ion-content class="DateTime">
          <ion-datetime
            #datetime
            [value]="dateValue" size="cover"
            (ionChange)="dateChanged(datetime.value)"
            showDefaultButtons=""
            ></ion-datetime>
          </ion-content> -->

      <div class="list">

        <ion-img style="background-image: url(assets/saopaulo.jpg);"></ion-img>
        <ion-label slot="end">sadiufgdsafsas</ion-label>

      </div>

    </div>

</ion-content>
